<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CPBaseProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B566050A1F1765AC0067C8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56605211F1765AD0067C8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B566052C1F1765AD0067C8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
